/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --font_weight_title: 700;
  --font_weight_body: 400;

  --color_background: #ffffff;
  --color_accent: #000000;

  --background_gradient:
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}


:root.theme-dark {
  --font_weight_title: 785;
  --font_weight_body: 465;

  --color_background: #000000;
  --color_accent: #00cc14;

  --background_gradient:
    repeating-linear-gradient(to right, #000 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font_weight_title: 785;
    --font_weight_body: 465;

    --color_background: #000000;
    --color_accent: #00cc14;

    --background_gradient:
    repeating-linear-gradient(to right, #000 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
  }
}
